/* Background Image Media Queries */
body.background {
	background-image: url('https://i.pinimg.com/originals/09/77/32/097732d9431a3984ec140cbb71fc0b22.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
@media screen and (min-width: 640px){
	body.background {
		background-image: url('https://i.pinimg.com/originals/09/77/32/097732d9431a3984ec140cbb71fc0b22.jpg');
	}
}	
@media screen and (min-width: 960px){
	body.background {
		background-image: url('https://i.pinimg.com/originals/09/77/32/097732d9431a3984ec140cbb71fc0b22.jpg');
	}
}	
@media screen and (min-width: 1200px){
	body.background {
		background-image: url('https://i.pinimg.com/originals/09/77/32/097732d9431a3984ec140cbb71fc0b22.jpg');
	}
}	
@media screen and (min-width: 1600px){
	body.background {
		background-image: url('https://i.pinimg.com/originals/09/77/32/097732d9431a3984ec140cbb71fc0b22.jpg');
	}
}

.a {
    color: white;
}

.a .uk-active {
    color: white;
}

.text {
    position: absolute;
}

h1, h4 {
	display: inline;
}

.header h1 {
	font-size: 70px;
	font-family: 'Francois One', sans-serif;
	color: rgb(165, 165, 218);
	font-weight: bold;
}

.ml2 {
	font-weight: 900;
	font-size: 3.5em;
  }
  
.ml2 .letter {
	display: inline-block;
	line-height: 1em;
  }

.header h4 {
	font-size: 20px;
	font-style: italic;
	padding-left: 10px;
}

/* .results {
	padding-left: 40px;
	padding-right: 40px;
	display: flow-root;
    box-sizing: content-box;
    max-width: 1200px;
    margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
} */

form {
	margin-bottom: 200px;
	border-style: solid;
	border-color: rgb(125, 92, 161);
	font: white;
}

#searchBtn {
	font-size: 25px;
}

.uk-button {
	padding: 5px;
	border: none;
	background: none;
	font-size: 25px;
}

#list {
	columns: 4;
	margin-top: 220px;
	border-style: initial;
	border-color: rgb(125, 92, 161);
	padding: 30px;
	background: transparent;
	color: white;
}

.uk-list button{
	background: transparent;
	color: white;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);

}

.uk-dropdown {
    display: none;
    position: absolute;
    z-index: 1020;
    box-sizing: border-box;
    min-width: 200px;
    padding: 25px;
    background: transparent;
    color: white;
    box-shadow: 0 5px 12px rgba(0,0,0,.15);
}

.uk-dropdown-nav>li>a {
    color:white;
}

p {
	color: white;
}

.uk-modal-title {
	color: white;
}

.uk-open>.uk-modal-dialog {
	background-color: rgb(102, 100, 241);
}
