.right {
    float: right!important;
}


/* Background Image Media Queries */
body.background {
	background-image: url('https://i.pinimg.com/originals/09/77/32/097732d9431a3984ec140cbb71fc0b22.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
@media screen and (min-width: 640px){
	body.background {
		background-image: url('https://i.pinimg.com/originals/09/77/32/097732d9431a3984ec140cbb71fc0b22.jpg');
	}
}	
@media screen and (min-width: 960px){
	body.background {
		background-image: url('https://i.pinimg.com/originals/09/77/32/097732d9431a3984ec140cbb71fc0b22.jpg');
	}
}	
@media screen and (min-width: 1200px){
	body.background {
		background-image: url('https://i.pinimg.com/originals/09/77/32/097732d9431a3984ec140cbb71fc0b22.jpg');
	}
}	
@media screen and (min-width: 1600px){
	body.background {
		background-image: url('https://i.pinimg.com/originals/09/77/32/097732d9431a3984ec140cbb71fc0b22.jpg');
	}
}

.a {
    color: white;
}

.a .uk-active {
    color: white;
}

.text {
    position: absolute;
}

h1, h6 {
    display: inline;
}
